* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    background-color: #8B4513;
}

button {
    cursor: pointer;
    transition: 0.2s;
}
/* Animação do botão */
button:hover {
    transform: scale(1.1);
}
/* Padronização de todos os inputs */
input {
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin: 0px 0px 5px 0px;
}
/* Coloca um espaço no placeholder */
input::placeholder {
    padding-left: 3px;
}


.class_cadastro {
    display: flex;
    align-items: top;
    justify-content: right;
    background-color: #013220;
    width: 650px;
    height: 400px;
    margin: 150px 0px 0px 0px;
    border-radius: 20px;
    position: fixed;
}

.class_signup {
    display: flex;
    flex-direction: column;
    margin: 0px 225px 0px 0px;
}

#img_logo {
    width: 150px;
    margin: 0px 0px 0px -50px;
}

#lbl_signup {
    font-size: 18px;
    font-weight: 800;
    margin: -15px 0px 10px -6px;
}

.class_registro {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

#btn_cadastrar {
    background-color: #FF9800;
    color: white;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    margin: 20px 0px 5px 0px;
    font-weight: 800;
}

#link_login {
    text-decoration: underline;
    cursor: pointer;
}

.class_mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 150px 0px 0px;
}

.class_fundo {
    background-image: url('Imagens/fundo-lupulo.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 20px;
    opacity: 0.6;
    position: fixed;
    margin: 0px 25px 0px 0px;
    border-radius: 0px 20px 20px 0px;
}

.class_textos {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 800;
    margin: 0px 20px 0px 0px;
}

#msg2 {
    background-color: #FF9800;
    border-radius: 5px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}


/* TELA DE LOGIN */

.class_login {
    display: flex;
    align-items: top;
    justify-content: right;
    background-color: #013220;
    width: 650px;
    height: 400px;
    margin: 150px 0px 0px 0px;
    border-radius: 20px;
    position: fixed;
}

.class_signin {
    display: flex;
    flex-direction: column;
}

#img_logo2 {
    width: 150px;
    margin: 0px 0px 35px 155px;
}

#lbl_signin {
    font-size: 18px;
    font-weight: 800;
    margin: 10px 0px 20px -6px;
}

.class_registro2 {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin: 0px 20px 0px 0px;
}

.class_olhos {
    display: flex;
    align-items: center;
}

#inp_senha2 {
    position: fixed;
    margin: 25px 0px 0px -100px;
}

#img_olho3 {
    position: fixed;
    width: 20px;
    margin: 2px 0px 0px 73px;
    opacity: 0.7;
    cursor: pointer;
}

#lbl_esqueceu {
    margin: 29px 0px 0px 80px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}

#btn_acessar {
    background-color: #FF9800;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    margin: 20px 0px 5px 0px;
    font-weight: 800;
}

#link_cadastro {
    text-decoration: underline;
    cursor: pointer;
}

.class_mensagem2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 180px 0px 0px;
}

.class_fundo2 {
    background-image: url('Imagens/fundo-lupulo.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 20px;
    opacity: 0.6;
    position: fixed;
    border-radius: 20px 0px 0px 20px;
}

.class_textos2 {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 800;
}

#msg5 {
    background-color: #FF9800;
    border-radius: 5px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}