* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #FFFEFA;
}

nav {
    background-color: #013220;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0px 0px 5px #0f11088d;
    position: fixed;
    z-index: 1;
    top: 0;
}

.MenuLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    padding: 5px;
    box-sizing: border-box;
}

.MenuLogo a {
    display: inline-block;
    position: relative;
}

.MenuLogo a img {
    width: 100%;
    height: auto;
    display: block;
}

.MenuLogo a:hover img {
    border: 2px solid yellow;
}

.MenuLogo a:hover {
    box-shadow: 0 0 10px 2px yellow;
    transition: box-shadow 0.3s ease-in-out;
}

nav .class_LinksMenu {
    width: 50%;
}
nav .class_LinksMenu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: 500;
    font-size: 1.125rem;
}
#QuemSomos {
    color: #FF9800;
    font-weight: 700;
}

nav .class_LinksMenu a {
    text-decoration: none;
    color: #FFFEFA;
}

nav .class_LinksMenu a:hover {
    color: #FF9800;
    font-weight: 700;
}

nav .class_BotoesMenu a {
    text-decoration: none;
    color: #FF9800;    
}

nav .class_BotoesMenu {
    display: flex;
    justify-content: space-around;
}

nav .class_BotoesMenu button {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #01322000;
    font-size: 1.12rem;
    border: 2.3px solid #FF9800;
    color: #FF9800;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease;  /* Transição suave */
}
nav .class_BotoesMenu button:hover a {
    color: white; 
}
nav .class_BotoesMenu button:hover {
    background-color: #FF9800;
    color: #FFFEFA;
    box-shadow: 0px 0px 10px #FF9800;
    transition: all 0.3s ease;  /* Transição suave */
}

/* Conteudo */

.class_Conteudo {
    display: flex;
    width: 80%;
    margin: 80px auto 0px auto;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #013220;
}

.div_calculadora {
    /*ESSA DIV FOI CRIADA COM TODOS OS INPUT
    NELA COLOCO UM TAMAANHO, COR, ESPAÇAMENTO NA TELA, ESPAÇAMENTO DE DENTRO PARA FORA
    SOMBRA E ARREDONDAMENTO*/
    background-color: #FFFEFA;
    width: 50%;
    padding: 30px 30px;
    box-shadow: 0px 0px 8px #00000041;
    border-radius: 5px;
    margin: 40px 20px 40px 80px;

}

/* CHAMANDO A TAG SPAN QUE ESTA DENTRO DA DIV
DANDO UM TAMANHO, DEIXANDO ELA MEDIUM E DANDO UMA COR*/
.div_calculadora span {
    font-size: 1.1rem;
    font-weight: 500;
    color: #013220;
    margin-bottom: 4px;
}

.div_calculadora input {
    /*COLOCANDO UM ESTILO EM TODOS OS INPUT
    TAMANHO 100% que ocupa todo espaco que pode na div.calculadora
    padding é "espaçamento para dentro", margem do topo, borda solida com cor e redonda
    e um background color, colocando uma cor de fundo*/
    width: 100%;
    padding: 15px 12px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #545454;
    background-color: #FFFEFA;
    margin-bottom: 20px;
}

/* placeholder é a mensagem que aperece na input antes de ser selecionada*/
input::placeholder {
    /*Mexendo no placeholder (mensagem que aparece dentro da input, dando uma cor,
    tamanho e opacidade )*/
    color: #262421;
    opacity: 0.5;
    font-size: 12px;
}

input:focus {
    /* focus é mexendo na input quando é selecionada */
    border: 1.7px solid #013220;
    /* Cor e espessura da borda */
    outline: none;
    /* Remove o contorno padrão */
}

/* Botoes*/
.div_calculadora button {
    padding: 15px 12px;
    border-radius: 8px;
    border: none;
    color: #F5F5F5;
    font-size: 16px;
    cursor: pointer;
    background-color: #FF9800;
    font-weight: 600;
    width: 100%;
}

.div_calculadora button:hover {
    background-color: #FF9800;
    color: #FFFEFA;
    box-shadow: 0px 0px 10px #FF9800;
}

.div_mensagem {
    /*ESSA DIV FOI CRIADA COM TODOS OS INPUT
    NELA COLOCO UM TAMAANHO, COR, ESPAÇAMENTO NA TELA, ESPAÇAMENTO DE DENTRO PARA FORA
    SOMBRA E ARREDONDAMENTO*/
    width: 50%;
    padding: 30px 40px;
    margin: 40px 80px 0px 20px;
    background-color: #FFFEFA;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #01322068;
    font-size: 1rem;
    color: #262421;

}

.div_mensagem h3 {
    color: #013220;
    opacity: 0.8;
    font-size: 20px;
}

.div_mensagem #p_info {
    margin-top: 20px;
}

.div_mensagem #p_info span {
    font-weight: 800;
    color: #68a354;
}

/* footer */

.class_Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #013220;
    border-bottom: 2px solid #013220;
    display: flex;
    justify-content: center;
}

.class_Footer .class_Container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.class_Footer .class_Container img {
    width: 11%;
}

.class_Footer .class_Container p {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    width: 80%;
    color: white;
    font-size: 18px;
}


.class_Footer {
    background-color: #013220;
    border-bottom: 2px solid #013220;
    display: flex;
    justify-content: center;
    height: 80px;
}

.class_Footer .class_Container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.class_Footer .class_Container img {
    width: 11%;
}

.class_Footer .class_Container p {
    flex-grow: 1;
    text-align: center;
    margin: 0; 
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 10px;
}
.class_redesSociais {
    justify-content: space-evenly;
    display: flex;
    width: 80px;
    align-items: center;
}
.class_Container .class_redesSociais img{
    width: 25%;
    margin: 4px;
}