* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif; /* Fonte aplicada globalmente, exceto nas classes excluídas */
}

body {
    background-color: #FFFEFA;
}

nav {
    background-color: #013220;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.MenuLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    padding: 5px;
    box-sizing: border-box;
}

.MenuLogo a {
    display: inline-block;
    position: relative;
}

.MenuLogo a img {
    width: 100%;
    height: auto;
    display: block;
}

.MenuLogo a:hover img {
    border: 2px solid yellow;
}

.MenuLogo a:hover {
    box-shadow: 0 0 10px 2px yellow;
    transition: box-shadow 0.3s ease-in-out;
}

nav .class_LinksMenu {
    width: 50%;
}

nav .class_LinksMenu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: 500;
    font-size: 1.12rem;
}

nav .class_LinksMenu a {
    text-decoration: none;
    color: #FFFEFA;
}

nav .class_LinksMenu a:hover {
    color: #FF9800;
    font-weight: 700;
}

nav .class_BotoesMenu button:hover a {
    color: white; 
}

nav .class_BotoesMenu a {
    text-decoration: none;
    color: #FF9800;    
}

nav .class_BotoesMenu {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

nav .class_BotoesMenu button {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #013220;
    font-size: 1.0rem;
    border: 2.3px solid #FF9800;
    color: #FF9800;
    cursor: pointer;
}

nav .class_BotoesMenu button:hover {
    background-color: #FF9800;
    color: #FFFEFA;
    box-shadow: 0px 0px 10px #FF9800;
}

/* BODY */
/* SOBRE A EMPRESA */
/* BIO DA EMPRESA */

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobreEmpresa {
    display: flex;
    width: 85%;
    flex-direction: column;
    margin-bottom: 100px;
}

.sobreEmpresa .bio {
    margin: 40px 0;
    padding: 0 14%;
}

.bio .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo .logo img {
    height: 120px;
    margin-bottom: 10px;
}

.sobreEmpresa .bio .texto p {
    line-height: 18px;
    text-align: justify;
    font-size: 20px;
}

h1 {
    color: #013220;
    font-size: 40px;
}

/* MISSÃO VISÃO E VALORES */

.topicos {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.topicos p {
    line-height: 22px;
    text-align: center;
}

.topicos .container {
    width: 30%;
    box-shadow: 0px 0px 3px gray;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.topicos .container .titulo {
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 35px;
    color: #ff9800;
}

.negrito {
    font-weight: bold;
}

.topicos .container .texto {
    margin: 0 8%;
}

/* SOBRE A EQUIPE */

.sobreEquipe {
    background-color: #013220;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudoSobreEquipe {
    margin: 40px 0;
    width: 70%;
}

.conteudoSobreEquipe .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.conteudoSobreEquipe .titulo h1 {
    color: #fafaff;
    font-size: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardsTrio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
}

.card {
    background-color: #fafaff;
    width: 24%;
    margin: 3%;
    height: 300px;
    box-shadow: 0px 0px 3px #68a357;
}

.card .foto {
    height: 50%;
    width: 100%;
}

.card .foto img {
    height: 100%;
    width: 100%;
}

.card .bio {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.card .titulo {
    margin: 10px;
}

.card .titulo h6 {
    font-size: 18px;
}

.card .bio {
    margin: 10px;
}

.card .bio p {
    display: flex;
    font-size: 14px;
    line-height: 24px;
}

.footerSobreEquipe {
    background-color: white;
    height: 5px;
    width: 100%;
}

/* FOOTER */

.class_Footer {
    background-color: #013220;
    border-bottom: 2px solid #013220;
    display: flex;
    justify-content: center;
}

.class_Footer .class_Container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.class_Footer .class_Container img {
    width: 11%;
}

.class_Footer .class_Container p {
    flex-grow: 1;
    text-align: center;
    margin: 0; 
    width: 80%;
    color: white;
    font-size: 18px;
}

.class_Footer .class_Container div {
    justify-content: space-evenly;
    display: flex;
    width: 199px;
    align-items: center;
}
