* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; /* Fonte aplicada globalmente */
}

body {
    background-color: #FFFEFA;
}

nav {
    background-color: #013220;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0px 0px 5px #0f11088d;
    position: fixed;
    z-index: 1;
    top: 0;
}

.MenuLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    padding: 5px;
    box-sizing: border-box;
}

.MenuLogo a {
    display: inline-block;
    position: relative;
}

.MenuLogo a img {
    width: 100%;
    height: auto;
    display: block;
}

.MenuLogo a:hover img {
    border: 2px solid yellow;
}

.MenuLogo a:hover {
    box-shadow: 0 0 10px 2px yellow;
    transition: box-shadow 0.3s ease-in-out;
}

nav .class_LinksMenu {
    width: 50%;
}
nav .class_LinksMenu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: 500;
    font-size: 1.125rem;
}
#QuemSomos {
    color: #FF9800;
    font-weight: 700;
}

nav .class_LinksMenu a {
    text-decoration: none;
    color: #FFFEFA;
}

nav .class_LinksMenu a:hover {
    color: #FF9800;
    font-weight: 700;
}

nav .class_BotoesMenu a {
    text-decoration: none;
    color: #FF9800;    
}

nav .class_BotoesMenu {
    display: flex;
    justify-content: space-around;
}

nav .class_BotoesMenu button {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #01322000;
    font-size: 1.12rem;
    border: 2.3px solid #FF9800;
    color: #FF9800;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease;  /* Transição suave */
}
nav .class_BotoesMenu button:hover a {
    color: white; 
}
nav .class_BotoesMenu button:hover {
    background-color: #FF9800;
    color: #FFFEFA;
    box-shadow: 0px 0px 10px #FF9800;
    transition: all 0.3s ease;  /* Transição suave */
}

/* BODY */
/* SOBRE A EMPRESA */
/* BIO DA EMPRESA */
.class_conteudo1{
    width: 80%;
    margin: auto;
}
.sobreEmpresa {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.sobreEmpresa .bio {
    margin: 20px 160px;
}

.bio .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo .logo img {
    height: 90px;
    margin-left: -20px;
    margin-bottom: 10px;
}

.sobreEmpresa .bio .texto p {
    /* line-height: 18px; */
    font-size: 1.125rem;
    text-align: justify;
    color: #0f1108be;
}
.sobreEmpresa .bio .texto p b{
    color: #0f1108e0;
    font-weight: 700;
}

h1 {
    color: #013220;
    font-size: 2rem;
    font-family: 'Lato', sans-serif; /* Mantém Lato para h1 */
}

/* MISSÃO VISÃO E VALORES */

.topicos {
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.topicos p {
    /* line-height: 26px; Aumentado para melhor legibilidade */
    font-size: 1.125rem; /* Aumentado o tamanho da fonte */
    color: #0f1108be;
}
.topicos p b{
    color: #0f1108e0;
    font-weight: 700;
}

.topicos .container {
    width: 31%;
    box-shadow: 0px 0px 3px #0f11088d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px;
}

.topicos .container .titulo {
    margin-bottom: 15px;
    text-align: center;
    font-size: 2rem;
    color: #ff9800;
}

/* SOBRE A EQUIPE */

.class_conteudo2{
    background-color: #013220;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudoSobreEquipe {
    width: 100%;
    margin: 0px 40px 60px 40px;
}
.conteudoSobreEquipe .titulo h1 {
    color: #fafaff;
    text-align: center;
    margin: 60px 60px 40px 60px;
    font-size: 2rem;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardsTrio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
    width: 60%;
}

.card {
    background-color: #fafaff;
    margin: 20px;
    width: 40%;
    box-shadow: 0px 0px 3px #68a357;
}
.card .foto img {
    height: 100%;
    width: 100%;
}

/* Estilo para o nome na cor branca */
.card .titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white; /* Define a cor do nome como branca */
    font-size: 20px; /* Tamanho do texto */
    font-weight: bold; /* Negrito */
    margin: 10px 0; /* Espaçamento */
}
.card .titulo a img{
    width: 32px;
}
.class_GithubLinkedin{
    display: flex;
}

/* Define a área da biografia com novo layout e fundo */
.card .bio {
    display: flex; /* Mantém flex para posicionamento */
    flex-direction: column; /* Organiza o texto em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    position: absolute; /* Posição absoluta para controle do posicionamento */
    bottom: -10px; /* Posiciona no final da foto */
    left: -10px; /* Alinha à esquerda */
    width: 100%; /* Ocupa toda a largura da foto */
    height: 50%; /* Aumenta a altura para destacar */
    background: linear-gradient( rgba(0, 0, 0, 0.6) 0%, hsla(0, 0%, 0%, 0.8) 100%); /* Degradê de transparente para preto */
    color: white; /* Texto em branco */
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.5s ease-in-out; /* Transição mais lenta */
}

/* Mostra a biografia com transição suave ao passar o mouse */
.card:hover .bio {
    opacity: 1; /* Torna o texto visível */
}

/* Ajuste para o container da foto */
.card {
    position: relative; /* Define posição relativa para a biografia */
}

.card .foto {
    height: 100%; /* Ajuste a altura conforme necessário */
    overflow: hidden; /* Evita que o texto ultrapasse a área da foto */
}

/* Ajustes para o texto */
.card .bio p {
    margin: 5px 15px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    font-size: 16px; /* Ajusta o tamanho */
    line-height: 1.4; /* Define a altura da linha */
}


.card .titulo h6 {
    font-size: 18px;
}

.card .bio {
    margin: 10px;
}

.card .bio p {
    display: flex;
    font-size: 14px;
    line-height: 24px;
}

.footerSobreEquipe {
    background-color: white;
    height: 5px;
    width: 100%;
}

/* FOOTER */

.class_Footer {
    background-color: #013220;
    border-bottom: 2px solid #013220;
    box-shadow: 0px 0px 5px #0f110871;
    display: flex;
    justify-content: center;
    height: 80px;
}

.class_Footer .class_Container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.class_Footer .class_Container img {
    width: 11%;
}

.class_Footer .class_Container p {
    flex-grow: 1;
    text-align: center;
    margin: 0; 
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 10px;
}
.class_redesSociais {
    justify-content: space-evenly;
    display: flex;
    width: 80px;
    align-items: center;
}
.class_Container .class_redesSociais img{
    width: 25%;
    margin: 4px;
}
