* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif; /* Aplicado a todas as classes */
}
body {
    background-color: #FFFEFA;
}
nav {
    background-color: #013220;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.MenuLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    padding: 5px;
    box-sizing: border-box;
}

.MenuLogo a {
    display: inline-block;
    position: relative;
}

.MenuLogo a img {
    width: 100%;
    height: auto;
    display: block;
}

.MenuLogo a:hover img {
    border: 2px solid yellow;
}

.MenuLogo a:hover {
    box-shadow: 0 0 10px 2px yellow;
    transition: box-shadow 0.3s ease-in-out;
}
nav .class_LinksMenu {
    width: 50%;
}
nav .class_LinksMenu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: 500;
    font-size: 1.12rem;
}
nav .class_LinksMenu a {
    text-decoration: none;
    color: #FFFEFA;
}
nav .class_LinksMenu a:hover {
    color: #FF9800;
    font-weight: 700;
}
nav .class_BotoesMenu button:hover a {
    color: white; 
}
nav .class_BotoesMenu a {
    text-decoration: none;
    color: #FF9800;    
}
nav .class_BotoesMenu {
    width: 200px;
    display: flex;
    justify-content: space-around;
}
nav .class_BotoesMenu button {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #013220;
    font-size: 1.0rem;
    border: 2.3px solid #FF9800;
    color: #FF9800;
    cursor: pointer;
}
nav .class_BotoesMenu button:hover {
    background-color: #FF9800;
    color: #FFFEFA;
    box-shadow: 0px 0px 10px #FF9800;
}

/* Conteudo */

.class_Conteudo {
    display: flex;
    flex-direction: column;
}

.class_Conteudo .class_Titulo {
    display: flex;
    flex-direction: row;
    margin: 41px;
    justify-content: center;
    font-size: 30px;
    color: #013220;
}

.class_Conteudo .class_Titulo h1 {
    font-size: 40px;
}

.class_Conteudo .class_Container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.class_Conteudo .class_Container .class_FlexBox1 {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.class_Conteudo .class_Container .class_FlexBox1 .class_Divisoria {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 95%;
    border-bottom: solid #013220 2px;
}
.class_Conteudo .class_Container .class_FlexBox1 .class_Divisoria h1 {
    color: #FF9800;
    font-size: 30px;
    margin-top: 40px;
}

.class_Conteudo .class_Container .class_FlexBox1 .class_Divisoria h2 {
    font-size: 30px;
    font-weight: normal;
}

#zapCompras {
    margin-bottom: 40px;
}

#arroba {
    margin-top: 40px;
    margin-left: 15px;
}

.class_Conteudo .class_Container .class_FlexBox1 h3 {
    font-size: 30px;
    font-style: bold;
    margin-bottom: 40px;
}
.class_Conteudo .class_Container .class_FlexBox1 .class_Alinhamento {
    display: flex;
    width: 90%;
    justify-content: left;
}

.class_Conteudo .class_Container .class_FlexBox1 .class_Alinhamento .class_ImgRedes {
    display: flex;
    width: 50px;
    margin-left: -10px;
    margin-right: 50px;
}

.class_Conteudo .class_Container .class_FlexBox1 .class_TextoInfo {
    margin: 10px;
    color: #013220;
    font-size: 25px;
    width: 500px;
    margin-bottom: 50px;
}

.class_Conteudo .class_Container .class_Mensagem {
    display: flex;
    flex-direction: column;
    height: 650px;
    background-color: #013220;
    margin: 3%;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 53px;
    justify-content: space-evenly;
}

.class_Conteudo .class_Container .class_Mensagem ::placeholder {
    color: #036e47bd;
    font-size: 20px;
}

.class_Conteudo .class_Container .class_Mensagem input {
    padding: 20px;
    border-radius: 5px;
    height: 35px;
}

.class_Conteudo .class_Container .class_Mensagem .class_IptMensagem {
    padding: 20px;
    border-radius: 5px;
    height: 300px;    
}

#ipt_mensagem {
    padding: 10px;
    border-radius: 5px;
    min-height: 50px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    overflow: auto;
    font-size: 20px;
}


#ipt_mensagem::placeholder {
    color: #036e47bd;
    font-size: 20px;
}


/* footer */

.class_Footer {
    background-color: #013220;
    border-bottom: 2px solid #013220;
    display: flex;
    justify-content: center;
}
.class_Footer .class_Container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.class_Footer .class_Container img {
    width: 11%;
}
.class_Footer .class_Container p {
    flex-grow: 1;
    text-align: center;
    margin: 0; 
    width: 80%;
    color: white;
    font-size: 18px;
}
.class_Footer .class_Container div {
    justify-content: space-evenly;
    display: flex;
    width: 199px;
    align-items: center;
}
