* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; /* Aplicado a todas as classes */
}

body {
    background-color: #FFFEFA;
}

nav {
    background-color: #013220;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0px 0px 5px #0f11088d;
    position: fixed;
    z-index: 1;
    top: 0;
}

.MenuLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    padding: 5px;
    box-sizing: border-box;
}

.MenuLogo a {
    display: inline-block;
    position: relative;
}

#Contato {
    color: #FF9800;
    font-weight: 700;
}

.MenuLogo a img {
    width: 100%;
    height: auto;
    display: block;
}

.MenuLogo a:hover img {
    border: 2px solid yellow;
}

.MenuLogo a:hover {
    box-shadow: 0 0 10px 2px yellow;
    transition: box-shadow 0.3s ease-in-out;
}

nav .class_LinksMenu {
    width: 50%;
}

nav .class_LinksMenu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: 500;
    font-size: 1.12rem;
}

nav .class_LinksMenu a {
    text-decoration: none;
    color: #FFFEFA;
}

nav .class_LinksMenu a:hover {
    color: #FF9800;
    font-weight: 700;
}

nav .class_BotoesMenu button:hover a {
    color: white; 
}

nav .class_BotoesMenu a {
    text-decoration: none;
    color: #FF9800;    
}

nav .class_BotoesMenu {
    display: flex;
    justify-content: space-around;
}

nav .class_BotoesMenu button {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #01322000;
    font-size: 1.12rem;
    border: 2.3px solid #FF9800;
    color: #FF9800;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease;  /* Transição suave */
}

nav .class_BotoesMenu button:hover {
    background-color: #FF9800;
    color: #FFFEFA;
    box-shadow: 0px 0px 10px #FF9800;
    transition: all 0.3s ease;
}

/* Conteudo */

.class_Conteudo {
    width: 80%;
    margin: auto;
}
.class_Conteudo{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.class_Conteudo h1 {
    font-size: 1.2rem;
    color: #FF9800;
}
.class_Conteudo p{
    line-height: 32px;
    font-size: 1.1rem;
    color: #0f1108be;
}

.class_Contato {
    display: flex;
    justify-content: space-around;
    margin: 40px 20px;
}

.class_conteudoContato{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.class_Divisoria {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 95%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid #013220ab 1.5px;
}
.class_arroba{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 95%;
    margin-bottom: 20px;
}
.class_redesSociais2 {
    justify-content: space-evenly;
    display: flex;
    width: 80px;
    align-items: center;
}
.class_Contato .class_redesSociais2 img{
    width: 30%;
    margin: 4px;
}
.class_TextoInfo{
    width: 95%; 
}
.class_TextoInfo p {
    color: #013220;
    line-height: 25px;
    font-size: 1.1rem;
}

.class_Mensagem {
    display: flex;
    flex-direction: column;
    background-color: #013220;
    border-radius: 10px;
    padding: 20px 30px 40px 30px;
    margin-left: 20px;
    width: 60%;
    height: 100%;
}
.class_Mensagem h2{
    color: #FFFEFA;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.class_Conteudo .class_Contato .class_Mensagem ::placeholder {
    color: #06412b8e;
    font-size: 1rem;
}

.class_Mensagem input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.class_Conteudo .class_Contato .class_Mensagem .class_IptMensagem {
    border-radius: 5px;
    height: 250px;    
}

#ipt_mensagem {
    padding: 10px;
    border-radius: 5px;
    min-height: 50px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    overflow: auto;
    font-size: 1rem;
}

#ipt_mensagem::placeholder {
    color: #036e47bd;
    font-size: 1rem;
}

/* footer */

.class_Footer {
    background-color: #013220;
    border-bottom: 2px solid #013220;
    display: flex;
    justify-content: center;
    height: 80px;
}

.class_Footer .class_Container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.class_Footer .class_Container img {
    width: 11%;
}

.class_Footer .class_Container p {
    flex-grow: 1;
    text-align: center;
    margin: 0; 
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 10px;
}
.class_redesSociais {
    justify-content: space-evenly;
    display: flex;
    width: 80px;
    align-items: center;
}
.class_Container .class_redesSociais img{
    width: 25%;
    margin: 4px;
}