/* Aplicando a nova fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; /* Fonte padrão atualizada para 'Lato' */
}

/* Ajustando a fonte original apenas nas classes especificadas */
.MenuLogo,
.class_Home2 {
    font-family: 'Lato', sans-serif; /* Mantendo 'Lato' em todas as classes */
}

body {
    background-color: #FFFEFA;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #013220;  
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.MenuLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    padding: 5px;
    box-sizing: border-box;
}

.MenuLogo a {
    display: inline-block;
    position: relative;
}

.MenuLogo a img {
    width: 100%;
    height: auto;
    display: block;
}

.MenuLogo a:hover img {
    border: 1px solid yellow;
}

.MenuLogo a:hover {
    box-shadow: 0 0 10px 2px yellow;
    transition: box-shadow 0.3s ease-in-out;
}

/* MENU LATERAL */

.class_LinksMenu {
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

.class_LinksMenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: 1.12rem;
}

.class_LinksMenu li {
    width: 100%;
}

.class_LinksMenu a {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #FFFEFA;
}

.class_LinksMenu a:hover {
    background-color: #90D26D;
    font-weight: 700;
}

nav .class_botaoUsuario {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

nav .class_botaoUsuario a {
    text-decoration: none;
    color: #FF9800;    
}

nav .class_botaoUsuario {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #013220;
    font-size: 1.0rem;
    color: #FFFEFA;
    cursor: pointer;
}

nav .class_botaoUsuario button:hover a {
    color: white; 
}

nav .class_BotoesMenu button:hover {
    background-color: #FF9800;
    color: #FFFEFA;
    box-shadow: 0px 0px 10px #FF9800;
}


main {
    
    display: flex;
    height: 86.3vh;
    width: 100%;
    padding-bottom: 10%;
}

.class_menuLateral {
    position: fixed;
    background-color: #013220;
    height: 100%;
    width: 16%;
    margin-top: 7%;
}

.class_dashs {
    margin-top: 7%;
    width: 84%;
    margin-left: 16%;
    background-color: #FFFEFA;
}

.class_dashs .class_kpisMenu {
    background-color: #68A357;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
    height: 10vh;

}

.class_kpi {
    display: flex;
    flex-direction: row;
    color: #FFFEFA;
    font-size: 22px;
    width: 25vw;
}

.class_kpiTexto {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.class_kpiNumero {
    border: 1px solid #FFFEFA;
    width: auto;
    padding: 0 5px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFEFA;
    border-radius: 5px;
    font-weight: 800;
}

.class_kpi1 .class_kpiNumero {
    background-color: #013220;
}
.class_kpi2 .class_kpiNumero {
    background-color: #013220;
}

.class_sensor {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
}

.class_sensorGraficosContainer {
    background-color: white;
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: 2%;
    height: 115%;
    padding: 0 1% 1% 1%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.class_sensorGraficosTitulo {
    text-align: center;
    margin: 1.5vh 0 1.5vh 1vw;
    font-weight: 900;
    font-size: 35px;
    color: #013220;
}

.class_sensorGraficos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #013220;
    box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
}

.class_sensorGrafico {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.class_sensorAlertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: #FFFEFA;
    border-radius: 8px;
    height: auto;
    margin: 2% auto auto auto;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2)
}

.class_tituloAlertas {
    margin: 3vh;
    color: #FF9800;
}

table {
    border-collapse: collapse;
    margin-top: 8px;
    font-size: 15px;
    margin-bottom: 10px;
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.tituloAlerta th {
    background-color: #f0f5f1;
    color: #2c5e3e;
 
}

th {
    color: #333;
}
