
/* container */
.class_Container{display: flex;


}



/*botão */

.class_button {
    display: flex;
    border-color: red;
    background-color: red;
    width: 10px;
    height: 10px;
}


.class_Dash{
    display: flex;

}