/* Aplicando a nova fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; /* Fonte padrão atualizada para 'Lato' */
}

/* Ajustando a fonte original apenas nas classes especificadas */
.MenuLogo,
.class_Home2 {
    font-family: 'Lato', sans-serif; /* Mantendo 'Lato' em todas as classes */
}

body {
    background-color: #FFFEFA;
}

nav {
    background-color: #013220;  
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.MenuLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    padding: 5px;
    box-sizing: border-box;
}

.MenuLogo a {
    display: inline-block;
    position: relative;
}

.MenuLogo a img {
    width: 100%;
    height: auto;
    display: block;
}

.MenuLogo a:hover img {
    border: 2px solid yellow;
}

.MenuLogo a:hover {
    box-shadow: 0 0 10px 2px yellow;
    transition: box-shadow 0.3s ease-in-out;
}

nav .class_LinksMenu {
    width: 50%;
    margin: 25vh auto 0px auto;
    justify-content: space-between;
}

nav .class_LinksMenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: 1.12rem;
}

nav .class_LinksMenu li {
    margin: 0px 0px 20px 0px;
}

nav .class_LinksMenu a {
    text-decoration: none;
    color: #FFFEFA;
}

nav .class_LinksMenu a:hover {
    color: #FF9800;
    font-weight: 700;
}

nav .class_botaoUsuario {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

nav .class_botaoUsuario a {
    text-decoration: none;
    color: #FF9800;    
}

nav .class_botaoUsuario {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #013220;
    font-size: 1.0rem;
    color: #FFFEFA;
    cursor: pointer;
}

nav .class_botaoUsuario button:hover a {
    color: white; 
}

nav .class_BotoesMenu button:hover {
    background-color: #FF9800;
    color: #FFFEFA;
    box-shadow: 0px 0px 10px #FF9800;
}


main {
    display: flex;
    height: 86.3vh;
    width: 100%;
}

.class_menuLateral {
    background-color: #013220;
    height: 100%;
    width: 16%;
}

.class_dashs {
    width: 94%;
}