body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.class_Container{
    display: flex;
    width: 80%;
    margin: auto;
}

/* HEADER */

.class_Header{
    height: 80px ;
    background-color: #013220;
    border-bottom: 2px solid #013220;
    display: flex;
    justify-content: space-between;
}
.class_Header .class_Container img{
    width: 23%;

}
.class_Header .class_Container{
    justify-content: center;
    align-items: center;
    height: 100%;
}
.class_Header .class_ModificaZeroA{
    text-decoration: none; 
    color: white;
}
.class_Header .class_Menu {
    display: flex;
    color: white;
    justify-content: center;
    width: 810px;
    align-items: center;   
}
.class_ModificaZero{
    display: flex;
    font-size: 16px;
    margin: 0px 15px 0px 15px;
    justify-content: space-between;
    width: 63%;
}

.class_ModificaZero_Zero{
    display: flex;
    justify-content: space-between;
    width: 235px;
    margin-right:52px;
    align-items: center;
}
 .class_ModificadoUm{
    display: flex;
    border: 2px solid #FF9800;
    border-radius: 5px;
    background-color: #FF9800;
    width: 80px;  
    justify-content: center;
    font-size: 19px;
    height: 35px;
    align-items: center;
    text-decoration: none; 
    color: white;
}
.class_ModificadoDois{
    display: flex;
    border: 2px solid #FF9800;
    border-radius: 5px;
    width: 100px;
    justify-content: center;
    font-size: 19px;
    height: 35px;
    align-items: center;
    color:#FF9800;
    text-decoration: none; 
}

/* BANNER */

.class_Banner{
    height: 266px;
    display: flex;
    justify-content: space-between;
}
.class_Banner .class_Container img{
    width: 28%;

}
.class_Banner .class_Container{
    justify-content: center;
    align-items: center;
    height: 100%;
}
.class_Banner p{
    font-size: 64px;
    color: #013220;
    font-weight: bold;
}
.class_Banner .class_Container img{
    margin-bottom: 23px;
}

/* PARTE TEXTUAL */

.class_Textos{
    height: 1597px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 146px;
}
.class_Textos .class_Container{
    flex-direction: column;
}

.class_Problema{
    margin-top: -69px;    
}
.class_Sensor {
    display: flex;
    align-items: center; /* Alinha a imagem verticalmente com os textos */
}
.class_Sensor img{
    margin-bottom: -11px;
    margin-right: 24px; /* Espaçamento entre a imagem e o texto */
    height: 345px; /* Ou mantenha seu controle de altura e largura */
    width: 30%;
}
.class_Sensor div {
    margin-right: 10px;
    display: flex;
    flex-direction: column; /* Mantém os textos em coluna */
}
.class_Dados{
    display: flex;
    align-items: center;
}
.class_Dados div {
    margin-right: 10px;
    display: flex;
    flex-direction: column; /* Mantém os textos em coluna */
}
.class_Dados img{
    margin-bottom: -26px;
    margin-right: 24px; /* Espaçamento entre a imagem e o texto */
    height: 368px; /* Ou mantenha seu controle de altura e largura */
    width: 30%;
}
.class_Dados span{
    font-weight: bold;
}
.class_Avisos{
    display: flex;
    align-items: center;
}
.class_Avisos div {
    margin-right: 10px;
    display: flex;
    flex-direction: column; /* Mantém os textos em coluna */
}
.class_Avisos img{
    margin-bottom: -26px;
    margin-right: 24px; /* Espaçamento entre a imagem e o texto */
    height: 368px; /* Ou mantenha seu controle de altura e largura */
    width: 30%;
}




.class_Titulo{
    color: #013220;
    font-size: 40px;
    height: 22px;
    font-weight: bold;
}
.class_TextoMenor{
    font-size: 20px;
}

/* FOOTER */

.class_Footer{
    
    background-color: #013220;
    border-bottom: 2px solid #013220;
    display: flex;
    justify-content: space-between;
}
.class_Footer .class_Container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.class_Footer .class_Container img{
    width: 11%;
}
.class_Footer .class_Container p {
    flex-grow: 1;
    text-align: center;
    margin: 0; 
    width: 80%;
    color:white;
}
.class_Footer .class_Container div{
    justify-content: space-evenly;
    display: flex;
    width: 199px;
    align-items: center;
}

