* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
        font-family: 'Lato', sans-serif;

        }

      /* header   */
.class_Header{
    display: flex;
    height: 120px;
    background-color: #013220;
    width: 100%;
}

.class_Container{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.class_Header .class_Container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.class_Header .class_Container a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.class_Header .class_Container img{
    display: flex;
    height: 105px;
}

.class_Header .class_Container .Class_Navbar{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width:60%;
    height: 25%;
}

.Class_BTNEntrar{
    width: 60px;
    height: 30px;
    background-color:  #FF9800;
    border-color: #03020000;
    color: white;
    border-radius: 5px;
}

.Class_BTNCadastrar{
    width: 70px;
    height: 30px;
    background-color:  #FF9800;
    border-color: #03020000;
    color: white;
    border-radius: 5px;
}

button:hover{
    background-color: white;
    color: #FF9800;
}


/* Conteudo */

.class_Conteudo{
    display: flex;
    flex-direction: column;

}

.class_Conteudo .class_Titulo{
    display: flex;
    flex-direction: row;
    margin: 41px;
    justify-content: center;
    font-size: 30px;
    color: #013220;
}

.class_Conteudo .class_Container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}


.class_Conteudo .class_Container .class_FlexBox1{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin: 120px;
    padding: 10px;
}
.class_Conteudo .class_Container .class_FlexBox1 .class_Divisoria{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 95%;
    border-bottom: solid #013220 2px;
}
.class_Conteudo .class_Container .class_FlexBox1 .class_Divisoria h1{
    color: #FF9800;
    font-size: 50px;
}

.class_Conteudo .class_Container .class_FlexBox1 .class_Divisoria h2{
    font-size: 30px;
    font-weight: normal;
}

.class_Conteudo .class_Container .class_FlexBox1 h3{
    font-size: 30px;
    font-style: bold;
}
.class_Conteudo .class_Container .class_FlexBox1 .class_Alinhamento {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.class_Conteudo .class_Container .class_FlexBox1 .class_Alinhamento .class_ImgRedes{
    display: flex;
    height: 50px;
    width: 50px;
}

.class_Conteudo .class_Container .class_FlexBox1 .class_TextoInfo{
    margin: 10px;
    color: #013220;
    font-size: 25px;
}

.class_Conteudo .class_Container .class_Mensagem{
    display: flex;
    flex-direction: column;
    height: 650px;
    background-color: #013220;
    margin: 3%;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 53px;
    justify-content: space-evenly;
}

.class_Conteudo .class_Container .class_Mensagem ::placeholder{
    color: #036e47bd;
    font-size: 20px;
  }

.class_Conteudo .class_Container .class_Mensagem input{
    padding: 20px;
    border-radius: 5px;
    height: 35px;
}

.class_Conteudo .class_Container .class_Mensagem .class_IptMensagem{
    padding: 20px;
    border-radius: 5px;
    height: 300px;
}










/* footer */

.class_Footer{
    background-color: #013220;
    height: 170px;
    align-items: center;
}

.class_Footer .class_Container{
    background-color: #013220;
    align-items: center;
}

.class_Footer img{
    display: flex;
    height: 130px;
}

.class_Footer .class_Container h1{
    display: flex;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.class_Footer .class_ImgRedes{
    display: flex;
    height: 50px;
}