/* Aplicando a nova fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; /* Fonte padrão atualizada para 'Lato' */
}
body {
    background-color: #FFFEFA;
}

nav {
    background-color: #013220;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0px 0px 5px #0f11088d;
    position: fixed;
    z-index: 1;
    top: 0;
}

.MenuLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    padding: 5px;
    box-sizing: border-box;
}

.MenuLogo a {
    display: inline-block;
    position: relative;
}

.MenuLogo a img {
    width: 100%;
    height: auto;
    display: block;
}

.MenuLogo a:hover img {
    border: 2px solid yellow;
}

.MenuLogo a:hover {
    box-shadow: 0 0 10px 2px yellow;
    transition: box-shadow 0.3s ease-in-out;
}

nav .class_LinksMenu {
    width: 50%;
}

nav .class_LinksMenu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: 500;
    font-size: 1.125rem;
}

nav .class_LinksMenu a {
    text-decoration: none;
    color: #FFFEFA;
}

nav .class_LinksMenu a:hover {
    color: #FF9800;
    font-weight: 700;
}

nav .class_BotoesMenu {
    display: flex;
    justify-content: space-around;
}

nav .class_BotoesMenu a {
    text-decoration: none;
    color: #FF9800;    
}

nav .class_BotoesMenu button {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #01322000;
    font-size: 1.12rem;
    border: 2.3px solid #FF9800;
    color: #FF9800;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease;  /* Transição suave */
}

nav .class_BotoesMenu button:hover a {
    color: white; 
}

nav .class_BotoesMenu button:hover {
    background-color: #FF9800;
    color: #FFFEFA;
    box-shadow: 0px 0px 10px #FF9800;
    transition: all 0.3s ease;  /* Transição suave */
}

.class_ImgInicial {
    background-image: url(./Imagens/imgHOMElupulo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 440px;
    margin-top: 80px;
}

.class_ImgInicial h3 {
    color: #FFFEFA;
    width: 400px;
    font-size: 68px;
    margin-left: 20%;
    padding-top: 120px;
    font-weight: 900;
    line-height: 1
}

.class_ImgInicial span {
    color: #FF9800;
    font-style: italic;
    text-shadow: 0px 0px 60px #eaff00;
    font-weight: 700;
}

/* PARTE1 - SOBRE NÓS */
.PARTE1 {
    width: 80%;
    margin: auto;
}

main .class_SobreNosHOME {
    display: flex;
    justify-content: space-between;
    margin: 80px;
}

main .class_SobreNosHOME .class_ConteudoSobreNosHOME {
    width: 55%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.class_ImgSobreNosHOME {
    width: 37%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
}

.class_ImgSobreNosHOME2 {
    width: 37%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

main .class_ConteudoSobreNosHOME h2 {
    font-size: 2rem;
    color: #013220;
}

main .class_ConteudoSobreNosHOME p {
    font-size: 1.125rem;
    padding: 20px 0px;
    text-align: justify;
    color: #0f1108be;
}

/* Estilo de botão na PARTE1 */
.PARTE1 button {
    font-size: 1.125rem;
    padding: 8px 12px;
    border-radius: 5px;
    border: 2.3px solid orange; /* Borda laranja */
    background-color: white;    /* Fundo branco */
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;  /* Transição suave */
}

.PARTE1 button:hover {
    background-color: orange; /* Fundo laranja */
    border: 2.3px solid orange; /* Borda laranja */
    box-shadow: 0px 0px 10px #FF9800;
}

/* Estilo padrão para os links dentro dos botões */
.sem-sublinhado {
    text-decoration: none; /* Remove o sublinhado */
    color: orange;         /* Define o texto laranja */
    transition: all 0.3s ease; /* Adiciona uma transição suave */
}

.PARTE1 button:hover .sem-sublinhado {
    color: white; /* Altera para branco ao passar o mouse sobre o botão */
}
main .class_ImgSobreNosHOME img,
main .class_ImgSobreNosHOME2 img {
    width: 100%;
}

/* PARTE2 - SIMULADOR FINANCEIRO */
.PARTE2 {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #013220;
}

.class_SimuladorHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PARTE2 h2 {
    font-size: 2rem;
    color: #FFFEFA;
    margin: 50px 0px;
}

.class_ContainerCardSimuladorHome {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.class_CardSimuladorHome {
    width: 30%;
    height: 300px;
    padding: 0px 22px;
    background-color: #90d26d00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 4px solid #FFFEFada;
    transition: all 0.3s ease;
}

.class_CardSimuladorHome:hover {
    background-color: #90d26d;
    border: none;
    box-shadow: 0px 0px 3px #90d26d;
    transform: scale(1.03);
}

.class_CardSimuladorHome img {
    height: 30%;
    margin-bottom: 20px;
}

.class_CardSimuladorHome p {
    font-size: 1.1rem;
    text-align: center;
    color: #fffefada;
}

/* Estilo de botão na PARTE2 */
.PARTE2 button {
    font-size: 1.125rem;
    padding: 8px 12px;
    border-radius: 5px;
    border: 2.3px solid orange; /* Borda laranja */
    color: orange;              /* Texto laranja */
    background-color: #013220;  /* Fundo escuro */
    font-weight: 700;
    cursor: pointer;
    margin: 30px 0px 50px 0px;
    transition: all 0.3s ease; /* Transição suave */
}

.PARTE2 button:hover {
    background-color: orange; /* Fundo laranja */
    color: white;             /* Texto branco */
    border: 2.3px solid orange; /* Borda laranja */
    box-shadow: 0px 0px 10px #FF9800;
}

/* Estilo padrão para os links dentro dos botões na PARTE2 */
.PARTE2 .sem-sublinhado {
    text-decoration: none; /* Remove o sublinhado */
    color: orange;         /* Define o texto laranja */
    transition: all 0.3s ease; /* Adiciona uma transição suave */
}

.PARTE2 button:hover .sem-sublinhado {
    color: white; /* Altera para branco ao passar o mouse sobre o botão */
}

/* PARTE3 - CONTATO */
.PARTE3 {
    width: 80%;
    margin: auto;
    color: #0F1108;
}
.class_contatoHOME{
    margin-left: 60px;
}

.PARTE3 h2 {
    font-size: 2rem;
    color: #013220;
    margin: 60px 0px 10px 0px;
}

.PARTE3 p {
    font-size: 1.2rem;
}

.class_CardsContatoHome {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 30px;
}

.class_CardsContatoHome h2,
p {
    font-size: 18px;
    margin: 5px 0px;
}

.class_card2ContatoHome {
    border-left: 3px solid #FF9800;
    padding-left: 10%;
}

.class_card1ContatoHom {
    padding-right: 10%;
}

/* Estilo de botão na PARTE3 */
.PARTE3 button {
    font-size: 1.125rem;
    padding: 8px 12px;
    border-radius: 5px;
    border: 2.3px solid orange; /* Borda laranja */
    color: orange;              /* Texto laranja */
    background-color: white;    /* Fundo branco */
    font-weight: 700;
    cursor: pointer;
    margin: 30px 0px 60px 0px;
    transition: all 0.3s ease; /* Transição suave */
}

.PARTE3 button:hover {
    background-color: orange; /* Fundo laranja */
    color: white;             /* Texto branco */
    border: 2.3px solid orange; /* Borda laranja */
    box-shadow: 0px 0px 10px #FF9800;
}

/* Estilo padrão para os links dentro dos botões na PARTE3 */
.PARTE3 .sem-sublinhado {
    text-decoration: none; /* Remove o sublinhado */
    color: orange;         /* Define o texto laranja */
    transition: all 0.3s ease; /* Adiciona uma transição suave */
}

.PARTE3 button:hover .sem-sublinhado {
    color: white; /* Altera para branco ao passar o mouse sobre o botão */
}

/* CLASSE PARA REMOVER O SUBLINHADO NA TAG a DE TODOS OS BOTÕES */
/* Estilo padrão para os links dentro dos botões */
.sem-sublinhado {
    text-decoration: none; /* Remove o sublinhado */
    color: orange;         /* Define o texto laranja */
    transition: all 0.3s ease; /* Adiciona uma transição suave */
}

.sem-sublinhado:hover {
    color: white; /* Altera para branco ao passar o mouse */
}


/* footer */

.class_Footer {
    background-color: #013220;
    border-bottom: 2px solid #013220;
    display: flex;
    justify-content: center;
    height: 80px;
}

.class_Footer .class_Container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.class_Footer .class_Container img {
    width: 11%;
}

.class_Footer .class_Container p {
    flex-grow: 1;
    text-align: center;
    margin: 0; 
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 10px;
}
.class_redesSociais {
    justify-content: space-evenly;
    display: flex;
    width: 80px;
    align-items: center;
}
.class_Container .class_redesSociais img{
    width: 25%;
    margin: 4px;
}