/* Aplicando a nova fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; /* Fonte padrão atualizada para 'Lato' */
}

/* Ajustando a fonte original apenas nas classes especificadas */
.MenuLogo,
.class_Home2 {
    font-family: 'Lato', sans-serif; /* Mantendo 'Lato' em todas as classes */
}

body {
    background-color: #FFFEFA;
}

nav {
    background-color: #013220;  
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.MenuLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    padding: 5px;
    box-sizing: border-box;
}

.MenuLogo a {
    display: inline-block;
    position: relative;
}

.MenuLogo a img {
    width: 100%;
    height: auto;
    display: block;
}

.MenuLogo a:hover img {
    border: 2px solid yellow;
}

.MenuLogo a:hover {
    box-shadow: 0 0 10px 2px yellow;
    transition: box-shadow 0.3s ease-in-out;
}

nav .class_LinksMenu {
    width: 50%;
    margin: 25vh auto 0px auto;
    justify-content: space-between;
}

nav .class_LinksMenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: 1.12rem;
}

nav .class_LinksMenu li {
    margin: 0px 0px 20px 0px;
}

nav .class_LinksMenu a {
    text-decoration: none;
    color: #FFFEFA;
}

nav .class_LinksMenu a:hover {
    color: #FF9800;
    font-weight: 700;
}

nav .class_botaoUsuario {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

nav .class_botaoUsuario a {
    text-decoration: none;
    color: #FF9800;    
}

nav .class_botaoUsuario {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #013220;
    font-size: 1.0rem;
    color: #FFFEFA;
    cursor: pointer;
}

nav .class_botaoUsuario button:hover a {
    color: white; 
}

nav .class_BotoesMenu button:hover {
    background-color: #FF9800;
    color: #FFFEFA;
    box-shadow: 0px 0px 10px #FF9800;
}


main {
    display: flex;
    height: 86.3vh;
    width: 100%;
}

.class_menuLateral {
    background-color: #013220;
    height: 100%;
    width: 16%;
}
/* MEXI A PARTIR DAQUI */

.class_ConteudoCadastro{
    display: flex;
    flex-direction: column;
    width: 90%;
}


.class_cadastro {
    width: 90%;
    background-color: #FFFEFA;
}

.class_CadastroFunc{
    margin: auto;
    width: 92%;
    border-radius: 6px;
    margin-top: 4%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) ;
    padding: 40px;
}
.class_CadastroFunc h1{
    color: #013220;
    font-size: 28px;
    margin-bottom: 26px;
}
.class_iptsCadastroFunc{
    display: flex;
}
.class_iptsCadastroFunc input, select{
    width: 90%;
    padding: 15px 12px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #013220;
    background-color: #fffafa;
    margin-bottom: 16px;
    font-size: 16px;
}
.class_iptsCadastroFunc input::placeholder{
    color: #013220;
    opacity: 0.5;
    font-size: 16px;
}
.class_iptsCadastroFunc input:focus, select:focus{
    border: 1.7px solid #013220;
    outline: none;
}
.class_separacaoIpts{
    width: 50%;
}
.class_btnCadastroFunc{
    display: flex;
}
.class_btnCadastroFunc button{
    padding: 15px 12px;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-right: 8px;
    color: #FFFEFA;
}
#btn_buscarFunc{
    background-color: #FF9800;
}
#btn_buscarFunc:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px #FF9800;
}
#btn_CadastrarFunc{
   background-color: #90D26D;
}
#btn_CadastrarFunc:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px #90D26D;
}
.class_btnCadastroFunc button img{
    width: 20px;
}

#btn_VoltarFunc{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid; 
    border-color: #FF9800;
    color: #FF9800;
}

#btn_VoltarFunc:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px #FF9800;
}

#btn_Novo_Func{
    color: #90D26D;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid;
    border-color: #90D26D;
}

#btn_Novo_Func:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px #90D26D;
}

.class_Funcionarios{
    margin: 44.692px;
    width: 83%;
    border-radius: 6px;
    margin-top: 4%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) ;
    padding: 40px;
    color: #013220;
}

.class_Funcionarios #div_Funcionarios h4{
    display: flex;
    font-weight: 900;
}

#div_Funcionarios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 30px;
}

#div_RegistroFunc img{
    width: 35px;
    
}
#div_RegistroFunc img:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2);
}

#div_RegistroFunc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}