/* Configurações Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; /* Fonte Lato aplicada globalmente */
}

body {
    background-color: #FFFEFA;
}

nav {
    background-color: #013220;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0px 0px 5px #0f11088d;
    position: fixed;
    z-index: 1;
    top: 0;
}

.MenuLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    padding: 5px;
    box-sizing: border-box;
}

.MenuLogo a {
    display: inline-block;
    position: relative;
}

.MenuLogo a img {
    width: 100%;
    height: auto;
    display: block;
}

#Servicos {
    color: #FF9800;
    font-weight: 700;
}

.MenuLogo a:hover img {
    border: 2px solid yellow;
}

.MenuLogo a:hover {
    box-shadow: 0 0 10px 2px yellow;
    transition: box-shadow 0.3s ease-in-out;
}

nav .class_LinksMenu {
    width: 50%;
}

nav .class_LinksMenu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: 500;
    font-size: 1.125rem;
}

nav .class_LinksMenu a {
    text-decoration: none;
    color: #FFFEFA;
}

nav .class_LinksMenu a:hover {
    color: #FF9800;
    font-weight: 700;
}

nav .class_BotoesMenu a {
    text-decoration: none;
    color: #FF9800;    
}

nav .class_BotoesMenu {
    display: flex;
    justify-content: space-around;
}

nav .class_BotoesMenu button {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #01322000;
    font-size: 1.12rem;
    border: 2.3px solid #FF9800;
    color: #FF9800;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease;  /* Transição suave */
}

nav .class_BotoesMenu button:hover a {
    color: white; 
}

nav .class_BotoesMenu button:hover {
    background-color: #FF9800;
    color: #FFFEFA;
    box-shadow: 0px 0px 10px #FF9800;
    transition: all 0.3s ease;  /* Transição suave */
}

/* BANNER */

.class_Container {
    width: 80%;
    margin: auto;
}
.class_solucoes{
    margin: 20px 160px;
}
.class_conteudo1{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo .logo img {
    height: 90px;
    margin-left: -20px;
    margin-bottom: 10px;
}

h1 {
    color: #013220;
    font-size: 2rem;
    font-family: 'Lato', sans-serif; /* Mantém Lato para h1 */
}

/* PARTE TEXTUAL */
.class_solucoes p{
    font-size: 1.125rem;
    text-align: justify;
    color: hsla(73, 36%, 5%, 0.745);
}
.class_solucoes h2{
    color: #FF9800;
    font-size: 1.8rem;
    margin-bottom: 12px;
}
.class_solucoes p b{
    color: #0f1108e0;
    font-weight: 700;
}

.class_Problema {
    margin: 0 0 60px 0;
}

.class_Sensor {
    margin: 0 0 60px 0;
    display: flex;
    justify-content: space-between;
}
.class_ConteudoSensor{
    width: 55%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.class_imgSensor{
    width: 37%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
}
.class_Sensor img {
    width: 100%;
    height: 100%;
}

.class_Dash {
    margin: 0 0 60px 0;
    display: flex;
    justify-content: space-between;
}
.class_ConteudoDash{
    width: 55%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.class_imgDash{
    width: 37%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
}
.class_Dash img {
    width: 100%;
    height: 100%;
}

.class_Aviso {
    margin: 0 0 60px 0;
    display: flex;
    justify-content: space-between;
}
.class_ConteudoAviso{
    width: 55%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.class_imgAviso{
    width: 37%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
}
.class_Aviso img {
    width: 100%;
    height: 100%;
}

/* FOOTER */

.class_Footer {
    background-color: #013220;
    border-bottom: 2px solid #013220;
    display: flex;
    justify-content: center;
    height: 80px;
}

.class_Footer .class_Container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.class_Footer .class_Container img {
    width: 11%;
}

.class_Footer .class_Container p {
    flex-grow: 1;
    text-align: center;
    margin: 0; 
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 10px;
}
.class_redesSociais {
    justify-content: space-evenly;
    display: flex;
    width: 80px;
    align-items: center;
}
.class_Container .class_redesSociais img{
    width: 25%;
    margin: 4px;
}