*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #FFFEFA;
}
nav{
    background-color: #013220;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.MenuLogo{
    width: 15%;
}
.MenuLogo a img{
    width: 100%;
}
nav .class_LinksMenu{
    width: 50%;
}
nav .class_LinksMenu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: 500;
    font-size: 1.12rem;
}
nav .class_LinksMenu a{
    text-decoration: none;
    color: #FFFEFA;
}
nav .class_LinksMenu a:hover{
    color: #FF9800;
    font-weight: 700;
}
nav .class_BotoesMenu button:hover a{
    color: white; 
}
nav .class_BotoesMenu a{
    text-decoration: none;
    color: #FF9800;    
}
nav .class_BotoesMenu{
    width: 200px;
    display: flex;
    justify-content: space-around;
}
nav .class_BotoesMenu button{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #013220;
    font-size: 1.0rem;
    border: 2.3px solid #FF9800;
    color: #FF9800;
    cursor: pointer;

}
nav .class_BotoesMenu button:hover{
    background-color: #FF9800;
    color: #FFFEFA;
    box-shadow: 0px 0px 10px #FF9800;
}

/* BANNER */

.class_Container{
    display: flex;
    width: 80%;
    margin: auto;
}

.class_Banner{
    margin-top: 70px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.class_Banner .class_Container img{
    height: 120px;
}
.class_Banner .class_Container{
    justify-content: center;
    align-items: center;
    height: 100%;
}
.class_Banner p{
    font-size: 40px;
    color: #013220;
    font-weight: bold;
}
.class_Banner .class_Container img{
    margin-bottom: 23px;
}

/* PARTE TEXTUAL */

.class_Textos{
    height: 1597px;
    display: flex;
    justify-content: space-between;
}
.class_Textos .class_Container{
    flex-direction: column;
}

.class_Problema{
    margin-top: -69px;    
}
.class_Sensor {
    display: flex;
    align-items: center; /* Alinha a imagem verticalmente com os textos */
}
.class_Sensor img{
    margin-bottom: -11px;
    margin-right: 24px; /* Espaçamento entre a imagem e o texto */
    height: 345px; /* Ou mantenha seu controle de altura e largura */
    width: 30%;
}
.class_Sensor div {
    margin-right: 10px;
    display: flex;
    flex-direction: column; /* Mantém os textos em coluna */
}
.class_Dados{
    display: flex;
    align-items: center;
}
.class_Dados div {
    margin-right: 10px;
    display: flex;
    flex-direction: column; /* Mantém os textos em coluna */
}
.class_Dados img{
    margin-bottom: -26px;
    margin-right: 24px; /* Espaçamento entre a imagem e o texto */
    height: 368px; /* Ou mantenha seu controle de altura e largura */
    width: 30%;
}
.class_Dados span{
    font-weight: bold;
}
.class_Avisos{
    display: flex;
    align-items: center;
}
.class_Avisos div {
    margin-right: 10px;
    display: flex;
    flex-direction: column; /* Mantém os textos em coluna */
}
.class_Avisos img{
    margin-bottom: -26px;
    margin-right: 24px; /* Espaçamento entre a imagem e o texto */
    height: 368px; /* Ou mantenha seu controle de altura e largura */
    width: 30%;
}




.class_Titulo{
    color: #013220;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.class_TextoMenor{
    font-size: 20px;
}

/* FOOTER */

.class_Footer{
    
    background-color: #013220;
    border-bottom: 2px solid #013220;
    display: flex;
    justify-content: space-between;
}
.class_Footer .class_Container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.class_Footer .class_Container img{
    width: 11%;
}
.class_Footer .class_Container p {
    flex-grow: 1;
    text-align: center;
    margin: 0; 
    width: 80%;
    color:white;
    font-size: 18px;
}
.class_Footer .class_Container div{
    justify-content: space-evenly;
    display: flex;
    width: 199px;
    align-items: center;
}

